151-115-164-7.sslip.io {
    root * /usr/share/caddy
    file_server

    @ws {
        path /ws
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @ws 172.18.0.1:8088 {
        flush_interval -1
    }

    encode gzip
}
